In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [15]:
GDP=pd.read_excel('../Data/GDP.xls', skiprows=5)

In [4]:
GDP

,Gross domestic product 2016,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,(millions of,NaN
NaN,Ranking,NaN,Economy,US dollars),NaN
NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN
USA,1,NaN,United States,18569100,NaN
CHN,2,NaN,China,1.11991e+07,NaN
JPN,3,NaN,Japan,4.93938e+06,NaN
DEU,4,NaN,Germany,3.46676e+06,NaN
GBR,5,NaN,United Kingdom,2.61889e+06,NaN
FRA,6,NaN,France,2.46545e+06,NaN
IND,7,NaN,India,2.26352e+06,NaN
ITA,8,NaN,Italy,1.84997e+06,NaN
BRA,9,NaN,Brazil,1.79619e+06,NaN
CAN,10,NaN,Canada,1.52976e+06,NaN
KOR,11,NaN,"Korea, Rep.",1.41125e+06,NaN
RUS,12,NaN,Russian Federation,1.28316e+06,a
ESP,13,NaN,Spain,1.23209e+06,NaN
AUS,14,NaN,Australia,1.20462e+06,NaN
MEX,15,NaN,Mexico,1.046e+06,NaN
IDN,16,NaN,Indonesia,932259,NaN
TUR,17,NaN,Turkey,857749,NaN
NLD,18,NaN,Netherlands,770845,NaN
CHE,19,NaN,Switzerland,659827,NaN
SAU,20,NaN,Saudi Arabia,646438,NaN
ARG,21,NaN,Argentina,545866,b
SWE,22,NaN,Sweden,511000,NaN
POL,23,NaN,Poland,469509,NaN
BEL,24,NaN,Belgium,466366,NaN
THA,25,NaN,Thailand,406840,NaN
...,...,...,...,...,...
NCL,NaN,NaN,New Caledonia,..,NaN
PRI,NaN,NaN,Puerto Rico,..,NaN
SMR,NaN,NaN,San Marino,..,NaN
SXM,NaN,NaN,Sint Maarten (Dutch part),..,NaN
MAF,NaN,NaN,St. Martin (French part),..,NaN
SYR,NaN,NaN,Syrian Arab Republic,..,NaN
TCA,NaN,NaN,Turks and Caicos Islands,..,NaN
VEN,NaN,NaN,"Venezuela, RB",..,NaN
NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN
WLD,NaN,NaN,World,7.56416e+07,NaN
NaN,NaN,NaN,NaN,NaN,NaN
EAS,NaN,NaN,East Asia & Pacific,2.24774e+07,NaN
ECS,NaN,NaN,Europe & Central Asia,2.01629e+07,NaN
LCN,NaN,NaN,Latin America & Caribbean,5.29493e+06,NaN
MEA,NaN,NaN,Middle East & North Africa,3.1115e+06,NaN
NAC,NaN,NaN,North America,2.01049e+07,NaN
SAS,NaN,NaN,South Asia,2.89636e+06,NaN
SSF,NaN,NaN,Sub-Saharan Africa,1.498e+06,NaN
LIC,NaN,NaN,Low income,405501,NaN
LMC,NaN,NaN,Lower middle income,6.25224e+06,NaN
UMC,NaN,NaN,Upper middle income,2.05708e+07,NaN
HIC,NaN,NaN,High income,4.84076e+07,NaN
NaN,NaN,NaN,NaN,NaN,NaN
NaN,.. Not available.,NaN,NaN,NaN,NaN
NaN,Note: Rankings include only those economies wi...,NaN,NaN,NaN,NaN
NaN,a. Based on data from official statistics of U...,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN
NaN,GDP data source: http://data.worldbank.org/dat...,NaN,NaN,NaN,NaN
NaN,GDP projections: http://data.worldbank.org/da...,NaN,NaN,NaN,NaN

In [13]:
GDP.head()

  Unnamed: 0 Unnamed: 1  Unnamed: 2     Unnamed: 3 (millions of Unnamed: 5
0        NaN    Ranking         NaN        Economy  US dollars)        NaN
1        NaN        NaN         NaN            NaN          NaN        NaN
2        NaN        NaN         NaN            NaN          NaN        NaN
3        USA          1         NaN  United States     18569100        NaN
4        CHN          2         NaN          China  1.11991e+07        NaN