# SQLite3
---

### connect

In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('db.sqlite3')

In [3]:
conn

In [4]:
cur = conn.cursor()

In [5]:
cur

In [6]:
cur.execute("create table users (id integer, username text)")

In [7]:
cur.execute("select * from users")

In [8]:
cur.fetchone()

In [9]:
cur.execute("insert into users (id, username) values(1, 'harry')")

In [10]:
cur.execute("select * from users")

In [11]:
cur.fetchall()

[(1, 'harry')]

In [12]:
sql = """
INSERT INTO users(id, username) values(2, 'bob'), (3, 'mary'), (4, 'pike')
"""
cur.execute(sql)

In [13]:
cur.execute("select * from users")
cur.fetchall()

[(1, 'harry'), (2, 'bob'), (3, 'mary'), (4, 'pike')]

In [14]:
cur.execute("select id, username from users where id>2")

In [15]:
cur.fetchall()

[(3, 'mary'), (4, 'pike')]

In [16]:
from random import randint

In [18]:
randint(0, 10)

9

In [22]:
names = ['Ram', 'Shyam', 'Hari']
for idx, name in enumerate([names[randint(0, 2)] for i in range(0, 20)]):
    cur.execute("insert into users (id, username) values(?, ?)", (idx + 5, name))

In [23]:
cur.execute("select count(id) from users")

In [24]:
cur.fetchall()

[(24,)]

In [25]:
cur.execute("select id, username from users where id=?", (13,))
cur.fetchone()

(13, 'Ram')

In [26]:
cur.execute("update users set username='Ramesh' where id=?", (13,))

In [27]:
cur.execute("select id, username from users where id=?", (13,))
cur.fetchone()

(13, 'Ramesh')

In [28]:
cur.execute("delete from users where id=?", (14,))

In [30]:
cur.execute("select id, username from users where id>?", (10,))
cur.fetchall()

[(11, 'Hari'),
 (12, 'Shyam'),
 (13, 'Ramesh'),
 (15, 'Hari'),
 (16, 'Hari'),
 (17, 'Shyam'),
 (18, 'Shyam'),
 (19, 'Shyam'),
 (20, 'Shyam'),
 (21, 'Shyam'),
 (22, 'Ram'),
 (23, 'Hari'),
 (24, 'Shyam')]

In [31]:
cur.execute("select id, username from users where id>? order by id desc", (10,))
cur.fetchall()

[(24, 'Shyam'),
 (23, 'Hari'),
 (22, 'Ram'),
 (21, 'Shyam'),
 (20, 'Shyam'),
 (19, 'Shyam'),
 (18, 'Shyam'),
 (17, 'Shyam'),
 (16, 'Hari'),
 (15, 'Hari'),
 (13, 'Ramesh'),
 (12, 'Shyam'),
 (11, 'Hari')]

In [34]:
cur.execute("select count(id), username from users group by username")
cur.fetchall()

[(7, 'Hari'),
 (1, 'Ram'),
 (1, 'Ramesh'),
 (10, 'Shyam'),
 (1, 'bob'),
 (1, 'harry'),
 (1, 'mary'),
 (1, 'pike')]

In [35]:
conn.commit()